.abigail-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
}

.abigail-wrapper {
  display: inline-block;
  position: absolute;
  width: 61.8%;
  height: 100%;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  background-color: black;
}

.abigail-content img{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  animation: fade-in-c 2s ease forwards;
  -webkit-animation: fade-in-c 2s ease forwards;
  animation-delay: .75s;
  -webkit-animation-delay: .75s;
}

 .about--wrapper {
  display: inline-block;
  position: absolute;
  background-color: black;
  width: 38.2%;
  height: 100%;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
  animation: enter 1s ease;
  -webkit-animation: enter 1s ease;
}

.about--content h4{
  width: 75%;
  color: white;
  position: absolute;
  top: 50%;
  right: 50%;
  opacity: 0;
  transform: translate(50%, -50%);
  font-size: 1.5em;
  animation: fade-in-c .75s ease forwards;
  -webkit-animation: fade-in-c .75s ease forwards;
  animation-delay: .75s;
  -webkit-animation-delay: .75s;
  font-weight: 400;
}

.extras {
  width: 75%;
  color: white;
  position: absolute;
  top: 75%;
  right: 50%;
  transform: translate(50%, -75%);
}

.about--content a{
  width: 75%;
  color: white;
  position: relative;
  display: inline;
  padding: 10px;
  margin: 20px;
  opacity: 0;
  font-size: 1em;
  animation: fade-in-c .75s ease forwards;
  -webkit-animation: fade-in-c .75s ease forwards;
  animation-delay: .75s;
  -webkit-animation-delay: .75s;
  text-decoration: none;
  font-family: 'Muli', "Helvetica Neue", sans-serif;
  font-weight: 400;
  border-radius: 4px;
}

.about--content a:hover{
  background-color: #07918a;
}


@keyframes enter {
  from {width:0%;}
  to {width: 34%;}
}
@-webkit-keyframes enter {
  from {width:0%;}
  to {width: 34%;}
}

@keyframes fade-in-c {
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-c {
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*____________________________________________________________________
_____________________________________________________________
_____________________________________________________________________*/
/*____________________________________________________________________
_____________________________________________________________
_____________________________________________________________________*/
/*____________________________________________________________________
_____________________________________________________________
_____________________________________________________________________*/
/*____________________________________________________________________
_____________________________________________________________
_____________________________________________________________________*/
/*____________________________________________________________________
_____________________________________________________________
_____________________________________________________________________*/
/*____________________________________________________________________
_____________________________________________________________
_____________________________________________________________________*/
/*____________________________________________________________________
_____________________________________________________________
_____________________________________________________________________*/
/*____________________________________________________________________
_____________________________________________________________
_____________________________________________________________________*/
/*____________________________________________________________________
_____________________________________________________________
_____________________________________________________________________*/
/*____________________________________________________________________
_____________________________________________________________
_____________________________________________________________________*/
/*____________________________________________________________________
_____________________________________________________________
 _____________________________________________________________________*/


@media only screen and (max-width: 768px) {
  .abigail-container {
    position: absolute;
    width: 100%;
    top: 30%;
    height: 50%;
  }

  .abigail-wrapper {
    display: inline-block;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    transform: translate(0, -50%);
    background-color: black;
  }

  .abigail-content img{
    margin-top:10%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    animation: fade-in-c 2s ease forwards;
    -webkit-animation: fade-in-c 2s ease forwards;
    animation-delay: .75s;
    -webkit-animation-delay: .75s;
  }

   .about--wrapper {
    display: inline-block;
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    top: 100%;
    right: 0%;
    transform: translate(0%, -50%);
    animation: enter 1s ease;
    -webkit-animation: enter 1s ease;
  }

  .about--content h4{
    width: 75%;
    color: white;
    position: absolute;
    top: 25%;
    right: 50%;
    opacity: 0;
    transform: translate(50%, -50%);
    font-size: 1em;
    animation: fade-in-c .75s ease forwards;
    -webkit-animation: fade-in-c .75s ease forwards;
    animation-delay: .75s;
    -webkit-animation-delay: .75s;
    font-weight: 400;
  }

  .extras {
    width: 100%;
    text-align: center;
  }

}
