#project1 {
  background-image: url('./images/caase-banner2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top: 75px solid black;
}
#project2 {
  background-image: url('./images/apparelshoot1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#project3 {
  background-image: url('https://media.giphy.com/media/POsbtpEw1lW9LlUHEp/giphy.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#project4 {
  background-image: url('https://media.giphy.com/media/3Bn0bFIOJA8PpExmi1/giphy.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#project5 {
  background-image: url('https://media.giphy.com/media/w61M6T6EA2d1eb1AJZ/giphy.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#project6 {
  background-image: url('./images/oob/pixelPractice.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
#project7 {
  background-image: url('https://i.imgur.com/QdhWNuu.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#project8 {
  background-image: url('https://media.giphy.com/media/jViSHTZihHDtaR3gep/giphy.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

#project9 {
  background-image: url('https://media.giphy.com/media/1xNCEiYWAiMS3YwV7r/giphy.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#projects-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 75vh;
  z-index: 150;
}

#works-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 75vh;
  z-index: 150;
}

.project-wrapper{
  width: 100%;
  height: 400px;
  animation: expand-right 2s ease;
  -webkit-animation: expand-right 2s ease;
  margin: 0;
  padding: 0;
  position: relative;
}

.black-cover {
  width: 100%;
  height: 400px;
  background-color: black;
  position: relative;
}

.white-cover {
  width: 100%;
  min-height: 80vh;
  background-color: white;
  position: relative;
}
.white-cover-two {
  width: 100%;
  min-height: 80vh;
  background-color: white;
  position: relative;
}

.black-cover:hover{
  animation: semi-fade-out .75s ease;
  -webkit-animation: semi-fade-out .75s ease;
  opacity: .25;
}

.info-wrapper {
  display: inline-block;
  position: absolute;
  color: white;
  animation: fade-in 1.3s ease forwards;
  animation-delay: 1s;
  -webkit-animation: fade-in 1.3s ease forwards;
  -webkit-animation-delay: 1s;
  opacity: 0;
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}

.content-container {
  width: 100%;
  height: 400px;
  position: absolute;
}

 .proj-name{
  position: relative;
  z-index: 500;
  font-size: 3em;
  color: white;
  margin: 0 auto;
}

.proj-type {
  position: relative;
  z-index: 500;
  font-size: 3em;
  color: white;
  margin: 0 auto;
  font-weight: 400;
  font-size: 2em;
}

@keyframes reveal {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}
@-webkit-keyframes reveal {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}

@keyframes expand-right {
  0% {
    width: 0%;
    height: 100px;
  }

  35% {
    width: 100%;
    height: 100px;
  }

  100% {
    height: 400px;
  }
}
@-webkit-keyframes expand-right {
  0% {
    width: 0%;
    height: 100px;
  }

  35% {
    width: 100%;
    height: 100px;
  }

  100% {
    height: 400px;
  }
}

@keyframes expand-left {
  0% {
    width: 0%;
    height: 100px;
  }

  75% {
    width: 100%;
    height: 100px;
  }

  100% {
    height: 400px;
  }
}
@-webkit-keyframes expand-left {
  0% {
    width: 0%;
    height: 100px;
  }

  75% {
    width: 100%;
    height: 100px;
  }

  100% {
    height: 400px;
  }
}

@keyframes slide {
  0% {left: -1000px;}
  33% {left: 25px;}
  100% { left: 0; }
}
@-webkit-keyframes slide {
  0% {left: -1000px;}
  33% {left: 25px}
  100% { left: 0; }
}

@keyframes semi-fade-out {
  from{opacity: 1}
  to{opacity: .25}
}
@-webkit-keyframes semi-fade-out {
  from{opacity: 1}
  to{opacity: .25}
}

@keyframes semi-fade-in {
  from{opacity: .25}
  to{opacity: 1}
}
@-webkit-keyframes semi-fade-in {
  from{opacity: .25}
  to{opacity: 1}
}

#introduction-container {
  height: 61.8vh;
  width: 100vw;
  position: fixed;
  z-index: 40;
}

.introduction {
  height: 100%;
  width: 100%;
}

.intro-overlay {
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .75;
}

.wrapper {
  display: inline-block;
  width: 60vw;
  height: 97%;
  left: -1000px;
  position: absolute;
  animation: slide 3s forwards ease;
  -webkit-animation: slide 3s forwards ease;
}

.content {
  position: absolute;
  bottom: 0;
  margin-left: 10vw;
  color: white;
}

.content h4 {
  font-size: 4.5vw;
  margin-bottom: -1%;
  opacity: .7;
}

.content h5 {
  font-weight: 400;
  font-size: 1.5vw;
  opacity: .8;
}

.content h2{
  font-size: 1vw;
}

.explainer-text{
  color: white;
  width: 100%;
  position: relative;
}

.iframe-wrapper{
  width: 75%;
  height: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.single-col-image {
  margin-top: 40px;
  width: 70%;
  left: 15%;
  position: relative;
}

#box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.video-player {
  width: 100%;
  height: 100%;
  position: relative;
}

#samaritan-images img{
  width: 60%;
  margin-left: 4%;
  margin-top: 100px;
}

#oob-images img{
  margin-top: 100px;
  width: 50%;
  margin-left: 10%;
}

#quote-poster {
  width: 40%;
  margin-left: 15.5%;
}


#mobile-black-cover {
  width: 100%;
  height: 400px;
  background-color: black;
  position: relative;

}

.mobile-black-cover{
  animation: semi-fade-out .75s ease;
  -webkit-animation: semi-fade-out .75s ease;
  opacity: .25;
}
.not-visible{
  animation: semi-fade-in .75s ease;
  -webkit-animation: semi-fade-in .75s ease;
  opacity: 1;
}

.initial {
  opacity: 1;
}

#footer {
  width: 100%;
  height: 400px;
  animation: expand-right 2s ease;
  -webkit-animation: expand-right 2s ease;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: black;
}

.footer-wrapper{
  display: inline-block;
  position: absolute;
  color: white;
  animation: fade-in 1.3s ease forwards;
  animation-delay: 1s;
  -webkit-animation: fade-in 1.3s ease forwards;
  -webkit-animation-delay: 1s;
  opacity: 0;
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

/*____________________________________________________________________
_____________________________________________________________
_____________________________________________________________________*/
/*____________________________________________________________________
_____________________________________________________________
_____________________________________________________________________*/
/*____________________________________________________________________
_____________________________________________________________
_____________________________________________________________________*/
/*____________________________________________________________________
_____________________________________________________________
_____________________________________________________________________*/
/*____________________________________________________________________
_____________________________________________________________
_____________________________________________________________________*/
/*____________________________________________________________________
_____________________________________________________________
_____________________________________________________________________*/
/*____________________________________________________________________
_____________________________________________________________
_____________________________________________________________________*/
/*____________________________________________________________________
_____________________________________________________________
_____________________________________________________________________*/
/*____________________________________________________________________
_____________________________________________________________
_____________________________________________________________________*/
/*____________________________________________________________________
_____________________________________________________________
_____________________________________________________________________*/
/*____________________________________________________________________
_____________________________________________________________
 _____________________________________________________________________*/

@media only screen and (max-width: 768px) {

 #project1 {
   background-image: url('./images/caase-banner2.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   border-top: 40px solid black;
 }

 #project8 {
   background-image: url('https://i.imgur.com/WBq9CDR.png');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
 }

 #projects-container {
   width: 100vw;
   height: 100vh;
   position: absolute;
   top: 50vh;
   z-index: 150;
 }

 #works-container {
   width: 100vw;
   height: 100vh;
   position: absolute;
   top: 50vh;
   z-index: 150;
 }

 #mobile-black-cover {
   width: 100%;
   height: 200px;
   background-color: black;
   position: relative;

 }

 .project-wrapper{
   width: 100%;
   height: 200px;
   animation: expand-right 2s ease;
   -webkit-animation: expand-right 2s ease;
   margin: 0;
   padding: 0;
   position: relative;
 }

 .black-cover {
   height: 200px;
 }

 .white-cover {
   width: 100%;
   min-height: 80vh;
   background-color: white;
   position: relative;
 }
 .white-cover-two {
   width: 100%;
   min-height: 80vh;
   background-color: white;
   position: relative;
 }

 .info-wrapper {
   display: inline-block;
   position: absolute;
   color: white;
   animation: fade-in 1.3s ease forwards;
   animation-delay: 1s;
   -webkit-animation: fade-in 1.3s ease forwards;
   -webkit-animation-delay: 1s;
   opacity: 0;
   display: inline-block;
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 75%;
 }

 .content-container {
   width: 100%;
   height: 200px;
   position: absolute;
 }

  .proj-name{
   position: relative;
   z-index: 500;
   font-size: 1em;
   color: white;
   margin: 0 auto;
 }

 .proj-type {
   position: relative;
   z-index: 500;
   font-size: 1em;
   color: white;
   margin: 0 auto;
   font-weight: 400;
 }

 #introduction-container {
   height: 50vh;
   width: 100vw;
   position: fixed;
   z-index: 40;
 }

 .introduction {
   height: 100%;
   width: 100%;
 }

 .wrapper {
   display: inline-block;
   width: 80%;
   left: -1000px;
   top: -5vh;
   position:absolute;
   animation: slide 3s forwards ease;
   -webkit-animation: slide 3s forwards ease;
 }

 .content {
   position: absolute;
   color: white;
 }

 .content h4 {
   font-size: 1.75em;
   opacity: .7;
 }

 .content h5 {
   font-weight: 400;
   font-size: 1em;
   opacity: .8;
 }

 .content h2{
   font-size: .5em;
 }

 .explainer-text{
   color: white;
   width: 100%;
   position: relative;
   font-size: .7em !important;
 }

 .iframe-wrapper{
   width: 75%;
   height: 75%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

 .single-col-image {
   margin-top: 40px;
   width: 70%;
   left: 15%;
   position: relative;
 }

 #box-shadow {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .video-player {
   width: 100%;
   height: 100%;
   position: relative;
 }

 #samaritan-images img{
   width: 60%;
   margin-left: 4%;
   margin-top: 100px;
 }

 #oob-images img{
   margin-top: 100px;
   width: 50%;
   margin-left: 10%;
 }

 #quote-poster {
   width: 40%;
   margin-left: 15.5%;
 }

 @keyframes expand-right {
   0% {
     width: 0%;
     height: 100px;
   }

   35% {
     width: 100%;
     height: 100px;
   }

   100% {
     height: 200px;
   }
 }
 @-webkit-keyframes expand-right {
   0% {
     width: 0%;
     height: 100px;
   }

   35% {
     width: 100%;
     height: 100px;
   }

   100% {
     height: 200px;
   }
 }

 @keyframes expand-left {
   0% {
     width: 0%;
     height: 100px;
   }

   75% {
     width: 100%;
     height: 100px;
   }

   100% {
     height: 200px;
   }
 }
 @-webkit-keyframes expand-left {
   0% {
     width: 0%;
     height: 100px;
   }

   75% {
     width: 100%;
     height: 100px;
   }

   100% {
     height: 200px;
   }
 }

 @media only screen and (min-width: 768px) and (max-width: 1024px){
   .wrapper {
     top: -15vh;
   }
 }
}
